:root {
    --bs-box-shadow-xs: .2rem .2rem 5px 0px var(--shadow-color-sm), 0 0 1px 0px var(--shadow-color-sm);
    --bs-box-shadow-sm: .5rem .5rem 20px 0px var(--shadow-color-sm);
    --bs-box-shadow: .5rem .5rem 20px 0px var(--shadow-color);
}

.fw-bold {
    font-weight: 600 !important;
}

.card {
    --bs-card-cap-bg: rgba(0, 0, 0, 0);
    --bs-card-bg: var(--bs-secondary);
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);

    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);

    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
}

.form-control {
    background-color: var(--bs-secondary);
    border: none;
    box-shadow: inset var(--bs-box-shadow-xs);
}
